/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: #49a6e9;
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-secondary: rgb(210, 219, 41);
  --clr-black: #222;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/
html {
  scroll-behavior: smooth;
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-secondary);
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img:not(.logo) {
  width: 100%;
}
img {
  display: block;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 2.9rem;
  }
  h2 {
    font-size: 2.2rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

.btn {
  text-transform: uppercase;
  background: transparent;
  color: var(--clr-black);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid var(--clr-black);
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
}
.btn:hover {
  color: var(--clr-white);
  background: var(--clr-black);
}
.btn-white {
  color: var(--clr-white);
  border-color: var(--clr-white);
  border-radius: 0;
  padding: 0.5rem 1rem;
}
.btn:hover {
  background: var(--clr-white);
  color: var(--clr-secondary);
}
/* section */ 

.section {
  padding: 4rem;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}
main {
  min-height: 100vh;
  display: grid;
  place-items: center;
}
/*
=============== 
Scroll
===============
*/
/* navbar */
.nav-bg{
  background: var(--clr-white);
}
.nav-bg .scroll-link{
  color: var(--clr-grey-1);
}
nav {
  background: var(--clr-white);
  padding: 1rem 1.5rem;
  z-index: 9;
}
/* fixed nav */
.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--clr-white);
  box-shadow: var(--light-shadow);
}
.fixed-nav .links a {
  color: var(--clr-grey-1);
}
.fixed-nav .links a:hover {
  color: var(--clr-secondary);
} 
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-toggle {
  font-size: 1.5rem;
  color: var(--clr-grey-1);
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}
.nav-toggle:hover {
  color: var(--clr-secondary);
}
.logo {
  height: 50px;
}
.links-container {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}
.show-links {
  height: 200px;
}
.links a {
  background: var(--clr-white);
  font-size: 1.1rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  display: block;
  transition: var(--transition);
  font-weight: bold;
  padding: 0.75rem 0;
}
.links a:hover {
  color: var(--clr-secondary) !important;
}
@media screen and (min-width: 800px) {
  nav {
    background: transparent;
  }
  .nav-center {
    width: 90vw;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .links-container {
    height: auto !important;
  }
  .links {
    display: flex;
  }
  .links a {
    background: transparent;
    color: var(--clr-white);
    font-size: 1.1rem;
    text-transform: capitalize;
    letter-spacing: var(--spacing);
    display: block;
    transition: var(--transition);
    margin: 0 1rem;
    font-weight: bold;
    padding: 0;
  }
  .links a:hover {
    color: var(--clr-white);
  }
}
/* hero */
header {
  min-height: 100vh;
  background: 
    url(../images/undraw_explore.svg) center/cover no-repeat;
}
.banner {
  width: 100%;
  min-height: 100vh;
  display: grid;
  place-items: center;
  text-align: center;
}

.person_img{
  width: 280px !important ;
  border-radius: 50%;
  margin: 0 auto;
  border: 5px solid #fff;
}
.container h1 {
  width: 100%;
  color: var(--clr-secondary);
  text-transform: uppercase;
  font-size: 2rem;
  /* background:rgba(255, 255, 255, 0.575); */
  padding: 0.5rem 3rem;
  text-decoration: underline;
  margin-bottom: 1.25rem;
}

/* sections and title */
.title h2 {
  font-size: 1.5rem;
  text-align: center;
  text-transform: uppercase;
}
.title span {
  color: var(--clr-secondary);
}
.small-title{
  font-size: 0.7rem;
  text-transform: uppercase;
  margin: 0.2rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-align: center;
  padding: 0;
  margin: 0;
  color: var(--clr-secondary);
}
#about,
#services,
#skills {
  min-height: 90vh;
}
#services {
  background: var(--clr-white);
}

.top-link {
  font-size: 1.25rem;
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  background: var(--clr-secondary);
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
  border-radius: var(--radius);
  color: var(--clr-white);
  animation: bounce 2s ease-in-out infinite;
  visibility: hidden;
  z-index: -100;
}
.show-link {
  visibility: visible;
  z-index: 100;
}

/* About section */
.section-con{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  margin-top: 3rem;
}

.about-body .part{
  width: 49%;
}
.about-body .part img{
  width: 100%;
  min-height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* service section */

.part-serve{
  width: 24%;
  position: relative;
  text-align: center;
  padding: 0.5rem 0.6rem;
  border: 1px solid var(--clr-secondary);
  background-color: rgb(252, 252, 252);
  transition: box-shadow 0.2s ease-in-out;
}

.part-serve:hover{
  cursor: pointer;
  box-shadow: 1px 1px 10px 2px #d1d1d1;
}

.serve-icon{
  padding: 0.5rem;
}

.serve-heading{
  padding: 0.6rem 0;
  font-size: 0.95rem;
  letter-spacing: 0.1rem;
}

.serve-desc{
  font-size: 0.89rem;
}

/* skills and expericence section */

.skill-body .part:nth-child(1){
  width: 30%;
}
.skill-body .part:nth-child(2){
  width: 68%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-left: 1px dotted var(--clr-secondary);
  margin-left: 0.3rem;
}

.prog-1{
  width: 30%;
  text-align: center;
  margin-left: 1.5rem;  
}

.container-prog {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid var(--clr-secondary);
  background-color: rgba(250, 244, 244, 0.671);
  padding: 0.5rem;
  box-shadow: 1px 1px 10px 2px #e6dddd;
  transition: box-shadow 0.3s;
}

.container-prog:hover {
  cursor: pointer;
  box-shadow: 1px 1px 10px 2px #c2c2c2;
}

.container-prog .logo{
  margin-bottom: 0.5rem;
}

.progress-container {
  width: 140px;
  height: 140px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.progressbar {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.progressbar__track {
  fill: transparent;
  stroke: var(--clr-black);
  stroke-width: 3px;
}

.progressbar__thumb1 {
  fill: transparent;
  stroke-width: 3px;
  stroke-dasharray: 0 calc(30 * 2 * 3.141593);
  stroke-linecap: round;
  animation-name: progress1;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(.3, 1, .3, 1);
  transform: rotate(-89deg);
  transform-origin: 50% 50%;
}

.progressbar__thumb2 {
  fill: transparent;
  stroke-width: 3px;
  stroke-dasharray: 0 calc(30 * 2 * 3.141593);
  stroke-linecap: round;
  animation-name: progress2;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(.3, 1, .3, 1);
  transform: rotate(-89deg);
  transform-origin: 50% 50%;
}

.progressbar__thumb3   {
  fill: transparent;
  stroke-width: 3px;
  stroke-dasharray: 0 calc(30 * 2 * 3.141593);
  stroke-linecap: round;
  animation-name: progress3;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(.3, 1, .3, 1);
  transform: rotate(-89deg);
  transform-origin: 50% 50%;
}

.progressbar__thumb--track-1 {
  stroke: var(--clr-secondary);
  animation-duration: 1.8s;
  animation-delay: 0.5s;
}

.progressbar__thumb--track-2 {
  stroke: var(--clr-white);
  animation-duration: 1.9s;
  animation-delay: .5s;
}

.progressbar__thumb--track-3 {
  stroke: var(--clr-secondary);
  animation-duration: 1.2s;
  animation-delay: .6s;
}

.progress-content {
  text-align: center;
}

.progress__value {
  color: var(--clr-secondary);
  font-size: 1.5em;
  position: relative;
  display: inline-block;
  transform: scale(0);
  animation: pulse 400ms 1s forwards;
}

.progress__value::before {
  content: '%';
  font-size: .5em;
  position: absolute;
  top: 4px;
  left: -12px;
}

.progress__text {
  font-size: 0.7rem;
  font-weight: bold;
  text-transform: capitalize;
  max-height: 0;
  overflow-y: hidden;
  animation: flyin 500ms 1.5s forwards;
}

.progress__desc{
  font-size: 0.7rem;
  padding: 0.1rem 0;
}

/* footer */
footer {
  font-weight: 300;
  font-size: 0.8rem;
  background: var(--clr-black);
  padding: 2rem 4rem;
  display: flex;
  justify-content: space-between;
}
footer p {
  color: var(--clr-white);
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 0;
}

footer .social-links{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .social-links a{
  padding: 0 0.5rem;
  text-decoration: none;
  color: var(--clr-white);
}

footer .social-links a i{
  font-size: 1rem;
}

footer .scroll-link{
  font-size: 0.8rem;
  font-weight: 300;
}

/* projects section */

.project-area{
  background-color: var(--clr-white);
}

.isotope-nav {
  display: inline-block;
  margin: 1.5rem 0 1.5rem;  
  width: 100%;
}

.isotope-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border-bottom: 2px solid var(--clr-secondary);
}

.isotope-nav ul li {
  display: inline-block;
  margin: 0  0.5rem 0 0.5rem;
}

.isotope-nav ul li h4 a {
  color: var(--clr-black);
  border: 1px solid var(--clr-secondary);
  padding: 0.5rem 1rem;
}

.isotope-nav ul h4 a.active {
  color: var(--clr-black);
  background: var(--clr-secondary);
}

/* Projects area
================================================== */

/* Project Isotope Item */
.row{
  width: 100%;
}
.isotope{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-item {
  width: 24%;
  position: relative;
  padding: 0;
}

.isotope-img-container {
  width: 100%;
  height: 30vh;
  position: relative;
  overflow: hidden;
}

.img-responsive{
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.isotope-img-container img {
  -webkit-transform: perspective(1px) scale3d(1.1, 1.1, 1);
  transform: perspective(1px) scale3d(1.1, 1.1, 1);
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

 .isotope-img-container:hover img {
  -webkit-transform: perspective(1px) scale3d(1.15, 1.15, 1);
  transform: perspective(1px) scale3d(1.15, 1.15, 1);
}
 
.isotope-img-container:after {
  opacity: 0;
  position: absolute;
  content: '';
  top: 0;
  right: auto;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

.isotope-img-container:hover:after {
  opacity: 1;
}
 
.gallery-popup .gallery-icon {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  padding: 5px 12px;
  background: var(--clr-secondary);
  color: #fff;
  opacity: 0;
  -webkit-transform: perspective(1px) scale3d(0, 0, 0);
  transform: perspective(1px) scale3d(0, 0, 0);
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

.isotope-img-container:hover .gallery-popup .gallery-icon {
  opacity: 1;
  -webkit-transform: perspective(1px) scale3d(1, 1, 1);
  transform: perspective(1px) scale3d(1, 1, 1);
}

.project-item-info {
  position: absolute;
  top: 50%;
  margin-top: -10%;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 30px;
  z-index: 1;
}

.project-item-info-content {
  opacity: 0;
  -webkit-transform: perspective(1px) translate3d(0, 15px, 0);
  transform: perspective(1px) translate3d(0, 15px, 0);
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

.isotope-img-container:hover .project-item-info-content {
  opacity: 1;
  -webkit-transform: perspective(1px) translate3d(0, 0, 0);
  transform: perspective(1px) translate3d(0, 0, 0);
}

.project-item-title {
  font-size: 1rem;
}

.project-item-title a {
  color: #fff;
}

.project-item-title a:hover {
  color: var(--clr-secondary);
}

.project-cat {
  background: var(--clr-secondary);
  display: inline-block;
  padding: 2px 8px;
  font-weight: 700;
  letter-spacing: 0.1rem;
  color: #000;
  font-size: 10px;
  text-transform: uppercase;
} 


@keyframes progress1 {
  to {
    stroke-dasharray: 200;
  }
}
@keyframes progress2 {
  to {
    stroke-dasharray: 150;
  }
}
@keyframes progress3 {
  to {
    stroke-dasharray: 120;
  }
}


@keyframes pulse {
  0% {
    transform: scale(0);
  }
  
  60% {
    transform: scale(1.4);
  }
  
  100% {
    transform: scale(1);
  }
}

@keyframes flyin {
  from {
    max-height: 0;
    opacity: 0;
  }
  
  to {
    max-height: 20px;
    opacity: .5;
  }
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
@media screen and (max-width: 800px) {
  .person_img{
    width: 180px  !important; 
  }
  .container h1 {
    font-size: 1.4rem;
  }
  .title h2 {
    font-size: 1.2rem;
    text-align: center;
  }
  .small-title{
    font-size: 0.5rem;
  }
}